{% extends 'website/base.html' %}
    
{% block content %}

{% if user.is_authenticated %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">使用者</th>
      <th scope="col">信箱</th>
      <th scope="col">手機</th>
      <th scope="col">地址</th>
      <th scope="col">城市</th>
      <th scope="col">國家</th>
      <th scope="col">郵遞區號</th>
      <th scope="col">創建時間</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>

{% if records %}
  {% for record in records %}
    <tr>
        <td>{{ record.first_name }} {{ record.last_name }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.phone }}</td>
        <td>{{ record.address }}</td>
        <td>{{ record.city}}</td>
        <td>{{ record.state }}</td>
        <td>{{ record.zipcode }}</td>
        <td>{{ record.created_at }}</td>
        <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
    </tr>
  {% endfor %}

{% endif%}


  </tbody>
</table>

{% else %}

<div class="col-md-6 offset-md-3"> </div>
<h1>登入</h1>
</br>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="帳號" required>
        </div>
    </br>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="密碼" required>
        </div>
    </br>
        <button type="submit" class="btn btn-outline-secondary">送出</button>
    
</form>

{% endif %}

{% endblock %}